<h1>Users#index</h1>
<table class= "table table-primary">
  <thead>
    <th>Stt</th>
    <th>Avatar</th>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr>
        <td>1</td>
        <td></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
     
        <td>

          <%= link_to 'Delete',"#", method: :delete, data: {confirm: "are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
